In [10]:
# Write a code to create a string with your name and print it.

In [11]:
name = "Harland"
print(name)

Harland

In [12]:
# Write a code to find the length of the string "Hello World" ?

In [13]:
print(len("Hello World"))

11

In [14]:
# Write a code to slice the first 3 characters from the string "Python Programming" ?

In [15]:
given_str = "Python Programming"
sliced = given_str[0:3]
print(sliced)

Pyt

In [17]:
# Write a code to convert the string "hello" to uppercase?

In [21]:
some_str = "hello"
some_str = some_str.upper()
print(some_str)

HELLO

In [22]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [23]:
str1 = "I like apple"
str1.replace("apple","orange")

'I like orange'

In [24]:
# Write a code to create a list with numbers 1 to 5 and print it

In [25]:
list1 = [i for i in range(1,6)]
print(list1)

[1, 2, 3, 4, 5]

In [26]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]

In [28]:
myList = [i for i in range(1,5)]
myList.append(10)
myList

[1, 2, 3, 4, 10]

In [29]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [32]:
mylis2 = [i for i in range(1,6)]
mylis2.remove(3)
mylis2

[1, 2, 4, 5]

In [33]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [34]:
alphaList = ['a', 'b', 'c', 'd']
alphaList[1]

'b'

In [35]:
# Write a code to reverse the list [10, 20, 30, 40, 50]

In [38]:
lis = [10, 20, 30, 40, 50]
lis.reverse()
lis

[50, 40, 30, 20, 10]

In [39]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it

In [40]:
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [41]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [43]:
tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

In [44]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [46]:
tup3 =  (10, 20, 5, 15)
print(min(tup3))

5

In [47]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [49]:
tup4 = ('dog', 'cat', 'rabbit')
tup4.index("cat")

1

In [50]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [53]:
fruits = ('apple','banana','kiwi')

kiwiExists = False

if "kiwi" in fruits:
    kiwiExists = True

else:
    kiwiExists = False

kiwiExists

True

In [54]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [55]:
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [56]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [59]:
set2 = {1, 2, 3, 4, 5}
set2.clear()

In [60]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [62]:
set3 = {1, 2, 3, 4}
set3.remove(4)
set3

{1, 2, 3}

In [63]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [67]:
set45 = {1, 2, 3}
set56 = {3, 4, 5}
set45.union(set56)

{1, 2, 3, 4, 5}

In [68]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [69]:
set48 = {1,2,3}
set69 = {2,3,4}
set48.intersection(set69)

{2, 3}

In [70]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [71]:
dict1 = {'name':'harland','age':20,'city':'NYC'}

In [72]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [74]:
mydic = {'name': 'John', 'age': 25}
mydic['country'] = 'USA'
print(mydic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [75]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [76]:
alice_dic = {'name': 'Alice', 'age': 30}
alice_dic['name']

'Alice'

In [77]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [79]:
bob_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
bob_dict.pop('age')

22

In [80]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [88]:
alice_2 = {'name': 'Alice', 'city': 'Paris'}

if 'city' in alice_2.keys():
    print("yes it exists")

else:
    print("key doesn't exist")

yes it exists

In [89]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

In [103]:
mahList = [i for i in range(10)]
tup3 = tuple(i for i in range(1,10,2))
list1 = ['hey','hello','hi']
list2 = [1,33,78]
dict_myDICT = dict(zip(list1,list2))

print(mahList,tup3,dict_myDICT)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] (1, 3, 5, 7, 9) {'hey': 1, 'hello': 33, 'hi': 78}

In [105]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.

In [117]:
import random

list1 = []

for i in range(10):
    list1.append(random.randrange(1,101))

list1.sort()

print(list1)

[2, 7, 20, 29, 35, 43, 63, 66, 82, 89]

In [118]:
#  Write a code to create a list with strings and print the element at the third index.

In [121]:
lis_str = [ i for i in 'abcdef']
print(lis_str[2])

c

In [122]:
# Write a code to combine two dictionaries into one and print the result.

In [126]:
dic2 = dict(zip([1,2,3],['a','b','c']))
dic3 = dict(zip([7,6,8],['v','d','o']))
dic2.update(dic3)

print(dic2)

{1: 'a', 2: 'b', 3: 'c', 7: 'v', 6: 'd', 8: 'o'}

In [127]:
# Write a code to convert a list of strings into a set

In [129]:
lis_str = ['a','b','c']
set(lis_str)

{'a', 'b', 'c'}